* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

nav {
  height: 80px;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: aliceblue;
}

.logo {
  height: 70px;
  width: 70px;
  margin-left: 20px;
}

nav ul {
  list-style: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 40px;
  justify-content: flex-end;
  gap: 40px;
  width: 200px;
}

nav ul li {
  width: 70px;
}
ul li a {
  font-size: 1.3rem;
  text-decoration: none;
}
.cart {
  height: 30px;
  margin-right: 70px;
}

/*Header */

section {
  height: 500px;
  max-width: 100%;
  display: grid;
  margin-top: 100px;
  grid-template-columns: 50% 50%;
}

.sec-left {
  padding-top: 50px;
  padding-left: 30px;
}
.sec-left img {
  height: 500px;
  width: 90%;
}

.sec-right {
  padding-right: 20px;
  display: grid;
  align-items: center;
  background-image: url(./assets/detailed-green-leaves-wave-background.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}

.sec-cont h3,
h1 {
  margin-top: 20px;
}

.sec-cont h3 {
  font-size: 1.3rem;
  color: grey;
}
.sec-cont h1 {
  font-size: 3rem;
}

.sec-cont button {
  width: 140px;
  height: 50px;
  margin-top: 40px;
  font-size: 1.3rem;
  border-radius: 1.5rem;
  border: none;
  background-color: greenyellow;
  color: white;
  cursor: pointer;
}

/*Advertise*/

.advertise {
  height: 300px;
  margin-top: 50px;
  text-align: center;
  background-image: url(./assets/fresh-green-leaves-flying-wind.png);
  background-repeat: repeat-x;
  background-size: contain;
}
.advertise img {
  height: 300px;
}
/*Selling*/

.selling {
  display: grid;
  margin-top: 100px;
  height: 600px;
  grid-template-rows: 10% 2px 1fr;
}

.selling > h1 {
  margin: auto;
}

.products {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(25%);
  gap: 30px;
  margin: 10px 50px;
  padding-top: 20px;
}

.prod1 {
  border-right: 1px solid gainsboro;
  height: 430px;
}
.prod1 h4:nth-child(2) {
  color: greenyellow;
  font-size: 1.5rem;
  margin-top: 10px;
}
.prod1 img {
  height: 60%;
  width: 80%;
  margin-bottom: 10px;
  border-radius: 3px;
}

.prod1 h4:nth-child(4) {
  margin-top: 10px;
  font-size: 1.3rem;
}

.prod1 h3 {
  color: rgb(38, 51, 172);
  font-size: 1.5rem;
  margin-top: 10px;
}

/*Reviews*/

.reviews {
  height: 600px;
  margin-top: 100px;
  display: grid;
  grid-template-rows: 30% 1fr;
}

.rev-cont {
  display: grid;
  grid-template-columns: repeat(25%);
  grid-auto-flow: column;
  gap: 10px;
  margin: 20px 80px 0;
}

.reviewhead {
  margin: 20px 80px 0;
  display: grid;
  grid-template-columns: 50% 50%;
}

.reviewhead button {
  height: 50px;
  width: 130px;
  font-size: 18px;
  border-radius: 5px;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
  align-self: center;
  justify-self: end;
}

.ratings h1 {
  margin-left: 10px;
}

.rat img {
  height: 100px;
  width: 170px;
}

.ratings span {
  font-size: 1.5rem;
}
.rat {
  display: flex;
  align-items: center;
  gap: 5px;
}
.review {
  display: grid;
  grid-template-rows: 45% 95px 1fr;
  background-color: gainsboro;
  justify-items: center;
  padding: 20px 20px 0px;
  border-radius: 5px;
}
.review img:nth-child(1) {
  height: 160px;
  width: 160px;
  border-radius: 50%;
}
.review img:nth-child(2) {
  /* margin-top: 20px; */
  height: 90px;
  width: 80%;
}

.review p {
  font-size: 1.2rem;
}

/* shopnow */

.shopnow {
  height: 100px;
  margin-top: 100px;
  display: flex;
  padding-inline: 5%;
  background-color: black;
}

.shopnow h1 {
  margin: auto;
  flex-basis: 75%;
  align-self: baseline;
  padding-left: 10%;
  color: white;
}

.shopnow button {
  flex-basis: 25%;
  background-color: green;
  border: none;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 5px;
  border-radius: 4px;
  height: 50px;
  cursor: pointer;
}
button span {
  color: white;
  font-size: 1.3rem;
}
.shopnow img {
  color: aliceblue;
}

/* Footer */

.foot {
  height: 300px;
  margin-top: 30px;
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 25% 1fr;
  grid-template-rows: 85% 15%;
  grid-template-areas:
    "a b c"
    "d d d";
}

.foot-about {
  grid-area: a;
  display: grid;
  padding: 5% 10% 10%;
  color: white;
}
.foot-about img {
  height: 70px;
  width: 70px;
  margin-bottom: 10px;
}

.quick-links {
  color: white;
  grid-area: b;
  display: grid;
  justify-items: center;
  padding: 5%;
}

.quick-links ul {
  text-decoration: none;
  list-style: none;
}

.quick-links li {
  margin-top: 8px;
}

.download {
  grid-area: c;
  color: white;
  display: grid;
  padding: 0 10% 10%;
}

.copyrights {
  grid-area: d;
  color: white;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 10% 0 4%;
}

.copyrights button {
  background: none;
  border: none;
  cursor: pointer;
  height: fit-content;
}

.copyrights button:nth-child(2) {
  margin-left: auto;
}

.copyrights img {
  height: 35px;
  width: 50;
}
