@import url(./index.css);

/* Product */

.product {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
  margin: 150px 5%;
}

.left img {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 5px;
  text-align: center;
  object-fit: cover;
  cursor: pointer;
}

.right {
  padding: 0% 3% 10% 0%;
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid gainsboro;
}

.description {
  flex: 1;
  margin-top: 25px;
}
.description h3 {
  color: green;
  margin-bottom: 5px;
  margin-top: 20px;
}
.right {
  padding: 20px 20px;
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
}

.right h4 {
  color: greenyellow;
}

h5 {
  opacity: 0.7;
}

.product button:hover {
  opacity: 0.9;
}
.prod-size {
  padding: 5%;
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid gainsboro;
}

.prod-size button {
  display: flex;
  padding: 10px;
  justify-content: space-around;
  align-items: center;
  font-size: 0.8em;
  width: 80%;
  cursor: pointer;
}

.pricetag {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 0.5rem;
}

.prod-size button h4 {
  font-size: 1.3em;
  font-weight: bold;
}
.pricetag span {
  font-size: 1em;
}

.pricetag span:nth-child(3) {
  color: red;
  opacity: 0.5;
}

.pricetag span:nth-child(2) {
  opacity: 0.5;
}

.off {
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

.prod-size button:hover {
  border: 1px solid greenyellow;
}

.right h1 {
  color: green;
  margin-bottom: 25px;
}

.right h3 {
  font-size: 1.4rem;
  font-family: "Times New Roman", Times, serif;
}

.right button {
  margin-top: 20px;
  height: 50px;
  font-size: 1.3em;
  border: none;
  border-radius: 1.5rem;
  width: 50%;
  cursor: pointer;
  justify-self: center;
  align-self: center;
}

.buynow {
  color: white;
  background-color: rgb(255, 0, 0);
  margin-top: 80px;
}

.buynow:hover {
  background-color: rgb(219, 0, 0);
}

.basket {
  background-color: greenyellow;
  color: white;
}

.basket:hover {
  background-color: rgb(139, 230, 4);
}

.left {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-auto-flow: column;
}

.sideimg {
  margin-bottom: 10px;
}
.sideimg img {
  width: 100%;
  aspect-ratio: 1/1;
  opacity: 0.8;
}

.sideimg img:hover {
  opacity: 1;
}

@media (max-width: 877px) {
  .left {
    grid-area: left;
  }
  .right {
    grid-area: right;
  }
  .prod-size {
    grid-area: prodsize;
  }

  .product {
    grid-template-columns: 1fr;
    grid-template-areas:
      "left"
      "right"
      "prodsize";
  }
}
